p {
    font-family: 'Times New Roman', Times, serif ;
}
h1{
    font-family: Impact;
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    margin: auto;
}
button:hover{
    background-color: green;
}